* {
    box-sizing: border-box;
}

#conteudo {
    background-color: lightsalmon;
    width: 300px;
    padding: 40px;
    box-shadow: 10px 10px 5px greenyellow; /*posicao <horizontal> <vertical> blurr*/
}