p {color: red; text-transform: capitalize; text-align: justify; text-indent: 20px; line-height: 30px; direction: rtl; letter-spacing: 4px; word-spacing: 4px;}
h1 {text-align: left; text-decoration: underline; text-shadow: 10px 15px 4px red;} 
h2 {text-align: right; text-decoration: overline;}
h3 {text-align: center; text-decoration: line-through;}