.texto-principal {
    color: red;
    text-align: center;
}

.fundo-princial {
    background-color: lightskyblue;
    padding: 20px;
}

#conteudo {
    background-color: lightpink;
    padding: 20px;
    color: green;
}