h1 {
    text-align: center;
    color: red;
}
h2 {
    color: blueviolet;
}

p {
    color: hotpink;
    font-size: 30px;
}

p.centro {
    text-align: center;
    color: blue;
    font-size: 20px;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
    background-color: lightblue;
    padding: 10px;
}
